<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
	<menu>
		<add id="Ves_Setup::theme" title="Ves Setup" module="Ves_Setup" sortOrder="10" resource="Ves_Setup::configuration"/>
		<add id="Ves_Setup::tools_section" title="Tools" module="Ves_Setup" sortOrder="100" parent="Ves_Setup::theme" resource="Ves_Setup::configuration"/>
		<add id="Ves_Setup::import" title="Import" module="Ves_Setup" sortOrder="110" parent="Ves_Setup::tools_section" action="vessetup/import/index" resource="Ves_Setup::configuration"/>
		<add id="Ves_Setup::export" title="Export" module="Ves_Setup" sortOrder="120" parent="Ves_Setup::tools_section" action="vessetup/export/index" resource="Ves_Setup::configuration"/>
	</menu>
</config>